@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Allerta', sans-serif;
}
body {
    min-height: 100vh;
    main {
        margin: auto;
        .background-home {
            width: 100%;
            position: fixed;
            top: 65px;
            left: 0;
            z-index: -10;
            img {
                width: 100%;
            }
        }
        .container {
            width: 100%;
        }
        .in {
            max-width: 900px;
            text-align: center;
            margin: auto;
            margin-top: 0px;
            padding: 20px;
        }
        .test {
            background-color: #fff;
            z-index: 0;
        }
        .bg-dark {
           background-color: #252525;
        }
        .try {
            height: 100vh;
            margin-top: 500px;
        }
    }
    
    .BAM {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // --main-bg-color: rgba(255, 255, 0);
        // --second-bg-color: red;
        // background-color: var(--main-bg-color);
        // background-color: rgba(255, 255, 0, 0.616);
        // color: var(--second-bg-color);
        font-size: 150px;
        font-weight: 900;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
    }
}

header {
    
    font-size: 34px;
    background-color: white;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .burger {
        padding: 10px;
    }
    nav {
        height: 100%;
        background-color: red;
    }
}